body{

    background-color:#EFFFFD ;
}
#main{
    height: 250px;
    width: auto;
}
#search {   /*background-color: antiquewhite;*/
                position: absolute;
                left: 42%;
                top: 25%;
                height: 100px;
                width: 400px;
                border-radius: 12%;
                /* display: inline-block; */

}
#submit {           width: 100px;
                    position: absolute;
                    left: 145px;
                    top: 65px;

}
#search_button{         height: 50px;
                        width:400px;
        border-radius: 12%;


}
#title{ color: black;
    font-family: cursive;
    background-color: #B8FFF9;
    display: inline-block;
    width: auto;
    position: absolute;
    left: 45%;
    display: inline-block;
    border-radius: 10%;
}
#logo_cpp { margin-top: 10px;
    height:auto ;
    position: absolute;
    left: 2%;
    width: 200px;
    display: inline-block;

}

#logo_htm{   margin-top: 20px;
        position: absolute;
           right: 2%;
           height: auto;
            width: 270px;
            display: inline-block;


}
#second {   border-color: black;
    border: double 3px;
}
.list_image{ margin-left: 20px;
                margin-top:10px;
    display: inline-block;
    height: 300px;
    width:200px;
    
}
.list_image:hover{
    border: double 8px;
}
#notice {
        height: px;
        width: 35%;
    background-color: B7CADB;
}
#querry{

    display: block-inline;
    position: absolute;
    left: 33%;
    top: 23%;
}